<div class="container text-center">
    <div class="row row-cols-1 g-4">
        <div class="col">
            <h2>{{ game.title }}</h2>
        </div>
   
        <div class="col">
            <img [src]="game.image" [alt]="game.shortDescription" class="w-75">
        </div>
    
        <div class="col">
            <a [routerLink]="['games', game.gameId]" class="btn btn-primary">Buy now on steam!</a>
        </div>
        
    </div>
</div>

<app-callout>{{ game.description }}</app-callout>

<div class="container text-center">
    <div class="row">
        <div  *ngFor="let feature of game.features"  class="col">
            <div class="card h-100">
                <img src="{{ feature.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ feature.name }}</h5>
                    <p class="card-text">{{ feature.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-callout>
    <div class="row">
        <div class="col">
            <h5>Platforms</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Minimum Requirements</h5>
        </div>
        <div class="col">
           <h5> Recommended Requirements</h5>
        </div>
    </div>
</app-callout>

<app-wishlist [gameId]="id"></app-wishlist>



<app-callout>
    <h1>Admin Controls</h1>
    <div class="btn-group">
        <button class="btn btn-success" (click)="editGame()">Edit</button>
        <button class="btn btn-danger" (click)="deleteGame()">Delete</button>
    </div>
</app-callout>

<!-- <pre>{{ id }}</pre> -->
<!-- <pre>{{ game | json }}</pre> -->